/**
 * Created by varun on 2/15/2021.
 */
.comparison {
    /*max-width:940px;*/
    margin:0 auto;
    font:13px/1.4 "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align:center;
    padding:10px;
  }

  .comparison table {
    width:100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    border-bottom:1px solid #CCC;
  }

  .comparison td, .comparison th {
    border-right:1px solid #CCC;
    empty-cells: show;
    padding:10px;
  }

  .compare-heading {
    font-size:18px;
    font-weight:bold !important;
    border-bottom:0 !important;
    padding-top:10px !important;
  }

  /*.comparison tbody tr:nth-child(odd) {
    display:none;
  }*/

  .comparison .compare-row {
    background:#F5F5F5;
  }

  .comparison th {
    font-weight:normal;
    padding:0;
    border-bottom:1px solid #CCC;
  }

  .comparison tr td:first-child {
    text-align:left;
  }

  .comparison .table-header, .comparison .qbo, .comparison .table-header-total {
    color:#FFF;
    padding:10px;
    font-size:13px;
    border-right:1px solid #CCC;
    /*border-bottom:0;*/
  }

  .comparison .table-header-total-bg {
    border-right:0;
    background:#00A19C;
    color: white;
    border-right: 1px solid #ccc;
  }

  .comparison .table-header {
    background:#00817D;
    border-top-left-radius: 3px;
    border-left:0px;
  }

  .comparison .total-plan-count {
    font-weight:bold;
  }
  .comparison .text-align-center {
    text-align:center;
  }
  .comparison .icon-dimentions {
    width:30px;
    height:30px;
    background: white;
    padding:7px;
  }
  .comparison .icon-bar {
    text-align: right;
  }
  .comparison .table-row {
    border: 1px solid #ccc;
  }
  .comparison th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
  }
  @media (max-width: 767px) {
    /*.comparison td:first-child, .comparison th:first-child {
      display: none;
    }*/
    /*.comparison tbody tr:nth-child(odd) {
      display:table-row;
      background:#F7F7F7;
    }
    .comparison .row {
      background:#FFF;
    }
    .comparison td, .comparison th {
      border:1px solid #CCC;
    }*/

  }

  @media (max-width: 639px) {
    /*.comparison td, .comparison th {
      padding:10px 5px;
    }*/
    /*.comparison .hide-mobile {
      display:none;
    }*/
    /*.comparison .table-header, .comparison .qbo {
      font-size:12px;
      padding:10px 5px;
    }
    .compare-heading {
        font-size:13px;
    }*/
  }